.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  // background: $red-color;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba($red-color,0.8), rgba(0,0,0,0.8)) ,url("../img/front.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;


  .content {
    position: relative;
    max-width: 750px;
    text-align: center;

    h2 {
      color: $white-color;
      font-size: 55px;
    }

    p {
      color: $white-color;
      font-size: 15px;
    }
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    .logo {
      color: $white-color;
      text-decoration: none;
      font-size: 26px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 4px;
        left: -11px;
        background-color: $white-color;
        width: 15px;
        transform: rotate(-40deg);
        height: 2px;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 5px;
        right: -7px;
        background-color: $white-color;
        width: 15px;
        transform: rotate(-40deg);
        height: 2px;
      }
    }

    .menuToggle {
      display: none;
      position: relative;
      width: 40px;
      height: 40px;
      background: url("../img/menu.png");
      background-size: 55px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: center;
      outline: none;
      -webkit-tap-highlight-color: transparent;
      transition: 0.2s ease-in-out;
    }

    // .active {

    //   background: url("../img/close.jpg");
    //   background-size: 35px;
    //   background-repeat: no-repeat;
    //   background-position: center;
    //   outline: none;
    //   -webkit-tap-highlight-color: transparent;
    //   transition: 0.2s ease-in-out;
    // }

    .navigation {
      position: relative;
      display: flex;
  
      li {
        list-style-type: none;
        margin-left: 30px;
  
        a {
          text-decoration: none;
          color: $white-color;
          font-weight: weight("thin");
  
          &:hover {
            color: $red-color;
            transition: 0.5s ease-in-out;
          }
        }
      }
    }

  }

}



.header
{


.sticky {
  background: $black-color;
  padding: 25px 45px !important;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  z-index: 111;
  transition: 0.5s ease-in-out;
  border-bottom: 5px solid $red-color;

  .logo {
    color: $white-color !important;

    &::before {

      background-color: $red-color !important;
    }

    &::after {
      
      background-color: $red-color !important;
    }
  }
}

}